button{
    width: 100px;
    background: #F9FAF9;
    margin: 0px 15px;
    border: 0;
    padding: 0;
    height: 0;
    cursor : pointer;
    clear: both;
}

#article{
    margin: auto;
    margin-bottom: 50px; 
    width: 60%;
    padding: 20px 5px;
}

.setting{
    width: 17px;
    height: 17px;
}

.top-article .top{
    position: relative;
    display: inline-flex;
    margin: 150px 40px 10px 40px;
    padding: 0px 20px;
}

.top p{
    position: absolute;
    color: black;
    left: 180px;
    top:40px;
}
.top span{
    margin: 0px 15px;
}

.profile-img{
    width: 150px;
    height: 150px;
   border-radius: 50%;
    margin-right: 20px;
}

.top-article h2{
    margin: 0 15px;
}

.mid-article{
    text-align: center;
    border-top: 1px solid #EFEFEF;
    margin: 2px 0 20px 0px;
    padding-top: 2px;
}

.mid-article p{
    margin: 0px;
}
.mid-article span {
    font-size: 15px;
    border-top: 1.5px solid #8D8D8D;
    margin: 0 25px 25px 0; 
}

.bottom-article{
    display : grid;
    justify-content :space-around;    
    width : 100%;
    grid-template-columns : repeat(3 , 200px);
    grid-column-gap : 1em;
    grid-row-gap : 1em;
    padding: 25px 0px;
    background-color : #F9FAF9;
}

.bottom-article div img{
    width: 220px;
    height: auto;
}

/* Modal CSS */

.modal_content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity:0;
    -webkit-transition: opacity 50ms ease-in;
    -moz-transition: opacity 50ms ease-in;
    transition: opacity 50ms ease-in;
    pointer-events: none;
}

.modal_content:target{
    opacity:1;
    pointer-events: auto;
}

.modal_content > div { /*  > 선택자 상위 태그의 직계 하위 tag 만 선택  */
	position: absolute;
	top: 40%;
	left: 30%;
	width: 45%;
	height: auto;
	padding: 0;
	border: 1px solid #8D8D8D;
	background-color: #F9FAF9;
	overflow: auto;	
}

.modal{
    height: 100%;
}

.modalcontent{
    position: relative;
    height: auto;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 18px;
    border: 1px solid #8D8D8D;
}

.modalcontent:hover{
    cursor: pointer;
    background-color: beige;
}
