@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

#article{
    margin: auto;
    margin-top: 45px;
    margin-bottom: 20px; 
    width: 55%;
    padding: 20px 5px;
}

/* Top Layout */
.top-article{
    position: relative;
    width: 100%;
    display: inline-flex;
    margin: 50px 40px 50px 40px;
    padding: 0px 20px;
}

.info {
    position: relative;
    display: -webkit-inline-box;
    width: 100%;
    height: 30px;
    float: left;
}

.info div{
    margin: 0 5px;
}

.count {
    position: relative;
    right: 30%;
    top: 50px;
    display: -webkit-inline-box;
    width: 100%;
    height: 30px;
    float: left;
}

.top-article p{
    position: absolute;
    color: black;
    width: auto;
    left: 220px;
    top:50px;
}
.top-article span{
    margin: 0px 20px;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #DBDBDB;
    margin-right: 40px;
}

.button {
    width: 100px;
    height: 25px;
    margin-right: 20px;
}

.setting{
    width: 25px;
    height:25px;
}

/* Follow List - Style  */
.profile-icon{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #DBDBDB;
    margin: 15px 0;
}

.followlist{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 0 25px;
    justify-content: center;
    -webkit-justify-content: center;
}

.followlist div{
    border-radius: 7px;
    border: 1px solid #DBDBDB;
    padding: 10px;
    margin: 5px 0;
    width: 50%;    /*  width는  article의 50%  */
    height: 54px;
}

.followlist div:nth-child(odd){ 
    background-color: #eeeeee;
}/* 홀수 */

.followlist div:nth-child(odd):hover{ 
    background-color: aliceblue;
}/* 홀수 Hover */

.followlist div:nth-child(even){
    background-color: #e4e4e4;
}/* 짝수 */

.followlist div:nth-child(even):hover{
    background-color: aliceblue;
}/* 짝수 Hover*/

.follow-icon{
    width: 50px;
    height: 50px;
    border: 2px solid #DBDBDB;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 40px;
}

.follow-author{
    position: relative;
    top: -22px;
    padding: 5px;
    border: 2px solid #DBDBDB;
    border-radius: 5px;
}

.follow{
    position: relative;
    left: 30px;
}

.follow-btn{
    margin: 0;
    text-align: center;
    border-top: 1px solid #fff;
    padding: 0 10px;
    border-radius: 4px;
    color: white;
    background : linear-gradient(20deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    width: auto;
    height: 25px;
}

.top-article h2{
    margin: 0 15px;
}

/* middle Layout */
.mid-article{
    text-align: center;
    border-top: 1px solid #EFEFEF;
    margin: 2px 0 20px 0px;
    padding-top: 2px;
}

.mid-article p{
    margin: 0px;
}
.mid-article span {
    font-size: 15px;
    border-top: 1.5px solid #8D8D8D;
    margin: 0 25px 25px 0; 
}

/* Photo Section */
.bottom-article{
    display : grid;
    justify-content :space-around;    
    width : 100%;
    grid-template-columns : repeat(3 , 26%);
    grid-column-gap : 0;
    grid-row-gap : 1em;
    margin: 25px 0px;
    background-color : #F9FAF9;
}

.bottom-article div img{
    align-content: center;
    width: 100%;
    height: auto;
    border: 2px solid #EFEFEF;
    padding: 10px;
}

/* responsive layout */
@media ( max-width: 980px ) {
    .bottom-article{
        display : grid;
        justify-content :space-around;    
        width : 100%;
        grid-template-columns : repeat(1 , 1fr);
        grid-column-gap : 1em;
        grid-row-gap : 1em;
        padding: 25px 0px;
        background-color : #F9FAF9;
    }
    .bottom-article img{
        float: none;
        width: auto;
        border: 2px solid #EFEFEF;
        padding: 10px;
    }
    
    .bottom-article div img{
        width: 100%;
        height: auto;
    }
    
/* Follow-Style */    
    .followlist div{
        border-radius: 7px;
        border: 1px solid #DBDBDB;
        padding: 10px;
        margin: 5px 0;
        width: 100%; /*  width 를 늘임   */
        height: 54px;
    }

}

/* profile pageing Css */
.page{
    display: flex;
    margin: 15px auto;
    padding: 10px;
    justify-content: center;
    width:100%;
    border: 1px solid #DBDBDB;
}

.page ul {
    list-style:none;
    margin:0;
    padding:0;
}

.page li {
    margin: 0 15px;
    padding: 3px;
    border : 1px solid #003962;
    border-radius: 5px;
    float: left;
}

.page li:hover{
    border : 1px solid gray;
    background-color: gray;
}

.page li .endpage-item {
    margin: 0 15px;
    padding: 3px;
    border : 1px solid #003962;
    border-radius: 5px;
}


/* Modal CSS */
.modal_content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}

.modal_content:target{
    opacity:1;
    pointer-events: auto;
}

.modal_content > div { /*  > 선택자 상위 태그의 직계 하위 tag 만 선택  */
	position: absolute;
	top: 40%;
	left: 30%;
	width: 45%;
	height: auto;
	padding: 0;
	border: 1px solid #8D8D8D;
	background-color: #F9FAF9;
	overflow: auto;	
}

/* 아이콘 파일 업로드 버튼 */
.modalform{
    height: 50px;
    cursor: pointer;
}

.replace {
    position:absolute;
    width:100%;
    height:20px;
    font-family: 'Jeju Gothic', serif;
    font-size:0.8rem;
    color: #94A5BF;
    background: #F9FAF9;
    cursor:pointer;
}

.upload {
    position:relative;
	border: 2px solid #8D8D8D;
    width:85%;
    height:35px;
    opacity:0;
    cursor: pointer;
}

.upload:hover{
    cursor: pointer;
    background-color: beige;
}

.submit {
    position: absolute;
    border: 1px solid #8D8D8D;
    padding: 3px;
    top:15px;
    right: 20px;
    outline: none;
    width: 100px;
    text-overflow: ellipsis;
    background-color: #F9FAF9;
}

.modal{
    height: 100%;
}

.modalcontent{
    position: relative;
    height: auto;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 18px 18px;
    border: 1px solid #8D8D8D;
}

.btn{
    padding: 0px 18px;
}

.modalcontent:hover{
    cursor: pointer;
    background-color: beige;
}