button{
    width: 100px;
    background: #F9FAF9;
    margin: 0px 15px;
    border: 0;
    padding: 0;
    height: 0;
    cursor : pointer;
    clear: both;
}

#article{
    margin: auto;
    margin-bottom: 50px; 
    width: 60%;
    padding: 20px 5px;
}

.setting{
    width: 17px;
    height: 17px;
}

.top-article .top{
    position: relative;
    display: inline-flex;
    margin: 150px 40px 10px 40px;
    padding: 0px 20px;
}

.top p{
    position: absolute;
    color: black;
    left: 180px;
    top:40px;
}
.top span{
    margin: 0px 15px;
}

.profile-img{
    width: 150px;
    height: 150px;
   border-radius: 50%;
    margin-right: 20px;
}

.top-article h2{
    margin: 0 15px;
}

.mid-article{
    text-align: center;
    border-top: 1px solid #EFEFEF;
    margin: 2px 0 20px 0px;
    padding-top: 2px;
}

.mid-article p{
    margin: 0px;
}
.mid-article span {
    font-size: 15px;
    border-top: 1.5px solid #8D8D8D;
    margin: 0 25px 25px 0; 
}

.bottom-article{
    display : grid;
    justify-content :space-around;    
    width : 100%;
    grid-template-columns : repeat(3 , 200px);
    grid-column-gap : 1em;
    grid-row-gap : 1em;
    padding: 25px 0px;
    background-color : #F9FAF9;
}

.bottom-article div img{
    width: 220px;
    height: auto;
}