@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Jeju Gothic', serif;
    background: #F9FAF9;
}

header{
    width: 800px;
    text-align: center;
}

h3{
    color : #94A5BF;
}

p{
    font-size: 0.8rem;
    color: #94A5BF;
}

input{
    border: 1px #003962 dotted;
    border-radius: 20px;
    outline: none;
    overflow: hidden;
    width: 255px;
    margin: 5px 0 5px 0;
    padding: 10px;
    text-overflow: ellipsis;
    background-color: #F9FAF9;
}

textarea{
    margin: 0;
    padding: 0;
    width:100%;
    height: 180px;
}

.fileupload{
    margin: 15px 0px;
    padding: 5px 10px;
    border: 1.5px solid #DBDBDB;
    border-radius: 5px;
    width:90%;
}

button{
    background: #fff;
    margin: 15px 0;
    border: 0;
    padding: 0;
}

button img{
    width:100%;
}

/*button effect style*/

.submit-btn {
    margin: 10px 0 0 0;
}

/* a tag link style */
a:link {
    color: #003962;
    text-decoration: none;
}

a:visited {
    color: #003962;    
    text-decoration: none;
}

a:hover {
    color: #003962;    
    text-decoration: none;
}

a:active {
    color: #003962;    
    text-decoration: none;
}



.content{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

#logo{
    margin: 20px 0 20px 0;
}

.item {
    width: 28%;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin: 35px 50px;
}

.item:nth-child(1) { 
    text-align:center;
}
.item:nth-child(2) { 
    text-align:center;
}

.logo{
    border: 1px #cccccc solid;
    margin-top: 15px;
}

.facebooklogin{
    display: inline-flex; /* 안쪽에서만 플럭스를 적용 */
    position: relative;
    height: 16px;
    width: 16px;
    margin: 0px 8px;
    background-image:url(../img/icon/facebook.png);
    background-repeat: no-repeat;
}

.facebook{
    margin: 15px 0px;
    color:#385185;
    font-size: 12px;
    text-align: center;
}

.linebar{
    margin-bottom: 10px;
}

.form{    
    position: relative;
    width: 90%;
    margin: 50px 30px;
}

.article-input{    
    position: relative;
    border-radius: 10px;
    border: 2px dotted #DBDBDB;
    width: 93%;
    margin: 0px 10px;
}

.login{
    align-content: center;
    border: 1px #cccccc solid;   
    padding: 20px;    
    margin-bottom: 20px;
    background: #fff;
}

.auth{
    border: 1px #cccccc solid;
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
}

.join{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.apptext{
    margin-bottom: 5px;
}

.validate{
    align-content: center;
    margin: 5px 0px;
    text-align: center;
    width: 100%;
    color: #A1B0C7;
    font-size: 12px;
}

/* responsive layout */
@media ( max-width: 1240px ) {
    .content {
      width: auto;
      display: flex;
      justify-content: center; 
      flex-direction: column; /* flex 요소 세로 */
    }
    .item {
      float: none;
      width: auto;
      margin: 25px 18%;
    }
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 40px;
}

.footerlink{
    padding: 0 10px;
    cursor : pointer;
}
